# Imporing importing libraries into the notebook

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import plotly.express as px
import plotly.graph_objects as go

# Read the csv file, which was created earlier

### This csv file has all the data of COVID-19

### I have created two more columns in the csv file, i.e. rato of total_cases_ratio_in_% and people_vaccination_ratio_in_%

In [2]:
df_plot_all=pd.read_csv('../EDS/COVID_all_data_final.csv')
df_plot_all.head()

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Relative_cases,relative_cases_in_%,total_cases_ratio_in_%,people_vaccination_ratio_in_%
0,0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,...,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,0.000013,0.000013,NaN
1,1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,...,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,0.000013,0.000013,NaN
2,2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,...,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,0.000013,0.000013,NaN
3,3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,...,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,0.000013,0.000013,NaN
4,4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,...,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,0.000013,0.000013,NaN

#### Making list of countries, with 5 countries in it.

In [3]:


country_list=['India',
              'Germany',
              'Italy',
              'Spain',
              'United States',
             ]

#### Making an empty dataframe

In [4]:
df_plot_spc  = pd.DataFrame()

#### Appending each country into the dataframe with respect to the data in the main dataframe

In [5]:
for each in country_list:
    df_plot_spc= df_plot_spc.append(df_plot_all[df_plot_all['location']==each])

#### Printing the dataframe

In [6]:
df_plot_spc

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Relative_cases,relative_cases_in_%,total_cases_ratio_in_%,people_vaccination_ratio_in_%
81451,81451,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
81452,81452,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
81453,81453,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
81454,81454,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,1.435329e-07,1.435329e-07,1.435329e-07,NaN
81455,81455,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,2.152993e-07,2.152993e-07,2.152993e-07,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186726,186726,USA,North America,United States,2022-06-23,86793392.0,147733.0,100499.000,1015342.0,386.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.607073e+01,2.607073e+01,2.607073e+01,NaN
186727,186727,USA,North America,United States,2022-06-24,86909476.0,116084.0,97191.286,1015789.0,447.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.610560e+01,2.610560e+01,2.610560e+01,NaN
186728,186728,USA,North America,United States,2022-06-25,86948848.0,39372.0,100488.000,1015933.0,144.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.611743e+01,2.611743e+01,2.611743e+01,NaN
186729,186729,USA,North America,United States,2022-06-26,86967399.0,18551.0,101723.857,1015938.0,5.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.612300e+01,2.612300e+01,2.612300e+01,NaN
186730,186730,USA,North America,United States,2022-06-27,87092233.0,124834.0,106316.714,1016208.0,270.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.616050e+01,2.616050e+01,2.616050e+01,NaN

#### Droping the index

In [7]:
df_plot_spc=df_plot_spc.reset_index(drop=True)

In [8]:
df_plot_spc

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Relative_cases,relative_cases_in_%,total_cases_ratio_in_%,people_vaccination_ratio_in_%
0,81451,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
1,81452,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
2,81453,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
3,81454,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,1.435329e-07,1.435329e-07,1.435329e-07,NaN
4,81455,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,2.152993e-07,2.152993e-07,2.152993e-07,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4403,186726,USA,North America,United States,2022-06-23,86793392.0,147733.0,100499.000,1015342.0,386.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.607073e+01,2.607073e+01,2.607073e+01,NaN
4404,186727,USA,North America,United States,2022-06-24,86909476.0,116084.0,97191.286,1015789.0,447.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.610560e+01,2.610560e+01,2.610560e+01,NaN
4405,186728,USA,North America,United States,2022-06-25,86948848.0,39372.0,100488.000,1015933.0,144.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.611743e+01,2.611743e+01,2.611743e+01,NaN
4406,186729,USA,North America,United States,2022-06-26,86967399.0,18551.0,101723.857,1015938.0,5.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.612300e+01,2.612300e+01,2.612300e+01,NaN
4407,186730,USA,North America,United States,2022-06-27,87092233.0,124834.0,106316.714,1016208.0,270.0,...,78.86,0.926,NaN,NaN,NaN,NaN,2.616050e+01,2.616050e+01,2.616050e+01,NaN

In [9]:
spc_countries = df_plot_spc[df_plot_spc['location']=='India']
spc_countries.head()

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Relative_cases,relative_cases_in_%,total_cases_ratio_in_%,people_vaccination_ratio_in_%
0,81451,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
1,81452,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
2,81453,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,7.176644e-08,7.176644e-08,NaN
3,81454,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,1.435329e-07,1.435329e-07,1.435329e-07,NaN
4,81455,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,...,69.66,0.645,NaN,NaN,NaN,NaN,2.152993e-07,2.152993e-07,2.152993e-07,NaN

#### Plot.ly

In [10]:
import dash
dash.__version__
from dash import dcc
from dash import html

app = dash.Dash()
app.layout = html.Div([
    
    html.Label('Multi-Select Country'),
    
       dcc.Dropdown(
        id='country_drop_down',
        options=[{'label': i, 'value': i}
                for i in df_plot_all['location'].unique() ],
           
        value=['India'], # which are pre-selected
        multi=True
    ),   
        
    dcc.Graph(id='main_window_slope', figure={})
])

In [11]:
from dash.dependencies import Input, Output

@app.callback(
    Output('main_window_slope', 'figure'),
    [Input('country_drop_down', 'value')])
def update_graph(option):
    print(option)
    print(type(option))
    
    if type(option)!=str:
        dff = df_plot_all[df_plot_all['location'].isin(option) ]
    else:
        dff = df_plot_all[df_plot_all['location']==option]
        

    
    fig = px.line(dff, x='date', y='relative_cases_in_%',color='location',title='Covid Relative Cases Over Time in linear scale')
    
#     fig = px.line(df_my_list, x="date", y='total_cases_ratio_in_%', color ='location', title='COVID cases')
#     fig.update_layout(yaxis_type="log")
    
    return fig

In [ ]:
app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
['India']
<class 'list'>
['India', 'Albania']
<class 'list'>
['India', 'Albania', 'Germany']
<class 'list'>
['India', 'Albania', 'Germany', 'Belgium']
<class 'list'>
['India', 'Albania', 'Germany', 'Belgium', 'Canada']
<class 'list'>