In [33]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import os
import pandas as pd
import numpy as np



%matplotlib inline
mpl.rcParams['figure.figsize'] = (16, 10)
pd.set_option('display.max_rows', 500)

import plotly.graph_objects as go

In [34]:
df_test=pd.read_csv('../EDS2/Covid_full_data.csv',sep=';')
df_test.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Relative_cases,Vaccination_Rate
204535,ZWE,Africa,Zimbabwe,2022-07-23,256246.0,29.0,23.286,5572.0,2.0,0.857,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,1.602186,NaN
204536,ZWE,Africa,Zimbabwe,2022-07-24,256254.0,8.0,24.429,5572.0,0.0,0.857,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,1.602236,NaN
204537,ZWE,Africa,Zimbabwe,2022-07-25,256270.0,16.0,26.714,5572.0,0.0,0.857,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,1.602336,NaN
204538,ZWE,Africa,Zimbabwe,2022-07-26,256284.0,14.0,13.857,5574.0,2.0,0.857,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,1.602424,NaN
204539,ZWE,Africa,Zimbabwe,2022-07-27,256315.0,31.0,18.286,5574.0,0.0,0.857,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,1.602617,NaN

In [35]:
col_list = list(df_test.columns)              #interchange the column continent and date
x, y = col_list.index('date'), col_list.index('iso_code')
col_list[y], col_list[x] = col_list[x], col_list[y]
df_test = df_test[col_list]

In [36]:
col_list = list(df_test.columns)              #interchange the column continent and date
x, y = col_list.index('continent'), col_list.index('location')
col_list[y], col_list[x] = col_list[x], col_list[y]
df_test = df_test[col_list]

In [37]:
col_list = list(df_test.columns)              #interchange the column continent and date
x, y = col_list.index('continent'), col_list.index('total_cases')
col_list[y], col_list[x] = col_list[x], col_list[y]
df_test = df_test[col_list]

In [158]:
df_test = df_test[df_test['location'] != 'Niue']
df_test = df_test[df_test['location'] != 'North Korea']
df_test = df_test[df_test['location'] != 'Northern Cyprus']
df_test = df_test[df_test['location'] != 'Northern Mariana Islands']
df_test = df_test[df_test['location'] != 'Palau']
df_test = df_test[df_test['location'] != 'Pitcairn']
df_test = df_test[df_test['location'] != 'Togo']
df_test = df_test[df_test['location'] != 'Tokelau']
df_test = df_test[df_test['location'] != 'Turkmenistan']
df_test = df_test[df_test['location'] != 'Tuvalu']
df_test = df_test[df_test['location'] != 'Western Sahara']
df_test = df_test[df_test['location'] != 'Cook Islands']
df_test = df_test[df_test['location'] != 'Guam']
df_test = df_test[df_test['location'] != 'Guernsey']
df_test = df_test[df_test['location'] != 'Jersey']
df_test = df_test[df_test['location'] != 'Kiribati']
df_test = df_test[df_test['location'] != 'Nauru']
df_test = df_test[df_test['location'] != 'Puerto Rico']
df_test = df_test[df_test['location'] != 'Sint Maarten (Dutch part)']
df_test = df_test[df_test['location'] != 'Tonga']
df_test = df_test[df_test['location'] != 'United States Virgin Islands']

In [159]:
country_list=df_test['location']

In [160]:
country_list = country_list.drop_duplicates()
country_list

372                            Afghanistan
1268                                Africa
2152                               Albania
3036                               Algeria
3914                               Andorra
4774                                Angola
5626                              Anguilla
6493                   Antigua and Barbuda
7432                             Argentina
8338                               Armenia
9205                                 Aruba
10123                                 Asia
11037                            Australia
11921                              Austria
12800                           Azerbaijan
13664                              Bahamas
14549                              Bahrain
15421                           Bangladesh
16284                             Barbados
17165                              Belarus
18070                              Belgium
18927                               Belize
19791                                Benin
20652                              Bermuda
21526                               Bhutan
22395                              Bolivia
23242      Bonaire Sint Eustatius and Saba
24117               Bosnia and Herzegovina
24967                             Botswana
25850                               Brazil
26702               British Virgin Islands
27573                               Brunei
28445                             Bulgaria
29315                         Burkina Faso
30164                              Burundi
31077                             Cambodia
31951                             Cameroon
32868                               Canada
33728                           Cape Verde
34595                       Cayman Islands
35460             Central African Republic
36321                                 Chad
37207                                Chile
38125                                China
38999                             Colombia
39818                              Comoros
40683                                Congo
41990                           Costa Rica
42859                        Cote d'Ivoire
43743                              Croatia
44611                                 Cuba
45477                              Curacao
46349                               Cyprus
47228                              Czechia
48097         Democratic Republic of Congo
49004                              Denmark
49866                             Djibouti
50724                             Dominica
51603                   Dominican Republic
52482                              Ecuador
53377                                Egypt
54238                          El Salvador
55103                    Equatorial Guinea
55962                              Eritrea
56868                              Estonia
57734                             Eswatini
58601                             Ethiopia
59518                               Europe
60435                       European Union
61311                       Faeroe Islands
62156                     Falkland Islands
63066                                 Fiji
63977                              Finland
64893                               France
65760                     French Polynesia
66626                                Gabon
67489                               Gambia
68372                              Georgia
69285                              Germany
70151                                Ghana
71027                            Gibraltar
71913                               Greece
72777                            Greenland
73635                              Grenada
75356                            Guatemala
76758                               Guinea
77613                        Guinea-Bissau
78481                               Guyana
79341                                Haiti
80259                          High income
81128                             Honduras
82045                            Hong Kong
82922                              Hungary
83803                              Iceland
84713                                India
85591                            Indonesia
86493                        International
87383                                 Iran
88268                                 Iraq
89148                              Ireland
90008                          Isle of Man
90897                               Israel
91806                                Italy
92675                              Jamaica
93593                                Japan
94961                               Jordan
95828                           Kazakhstan
96702                                Kenya
98004                               Kosovo
98889                               Kuwait
99751                           Kyrgyzstan
100607                                Laos
101490                              Latvia
102378                             Lebanon
103184                             Lesotho
104047                             Liberia
104923                               Libya
105799                       Liechtenstein
106660                           Lithuania
107546                          Low income
108464                 Lower middle income
109349                          Luxembourg
110267                               Macao
111127                          Madagascar
111978                              Malawi
112894                            Malaysia
113766                            Maldives
114621                                Mali
115496                               Malta
116308                    Marshall Islands
117174                          Mauritania
118036                           Mauritius
118975                              Mexico
119528                Micronesia (country)
120400                             Moldova
121280                              Monaco
122150                            Mongolia
123013                          Montenegro
123875                          Montserrat
124777                             Morocco
125635                          Mozambique
126488                             Myanmar
127354                             Namibia
128729                               Nepal
129611                         Netherlands
130472                       New Caledonia
131353                         New Zealand
132214                           Nicaragua
133074                               Niger
133955                             Nigeria
135139                       North America
136826                     North Macedonia
138637                              Norway
139552                             Oceania
140437                                Oman
141321                            Pakistan
142536                           Palestine
143407                              Panama
144267                    Papua New Guinea
145140                            Paraguay
146014                                Peru
146924                         Philippines
147885                              Poland
148764                            Portugal
150484                               Qatar
151367                             Romania
152276                              Russia
153142                              Rwanda
153831                        Saint Helena
154686               Saint Kitts and Nevis
155552                         Saint Lucia
156396           Saint Pierre and Miquelon
157262    Saint Vincent and the Grenadines
157879                               Samoa
158759                          San Marino
159602               Sao Tome and Principe
160480                        Saudi Arabia
161361                             Senegal
162244                              Serbia
163109                          Seychelles
163958                        Sierra Leone
164875                           Singapore
166177                            Slovakia
167084                            Slovenia
167738                     Solomon Islands
168602                             Somalia
169504                        South Africa
170391                       South America
171309                         South Korea
172153                         South Sudan
173061                               Spain
173974                           Sri Lanka
174841                               Sudan
175707                            Suriname
176615                              Sweden
177499                         Switzerland
178357                               Syria
179281                              Taiwan
180099                          Tajikistan
180963                            Tanzania
181899                            Thailand
182757                               Timor
185363                 Trinidad and Tobago
186239                             Tunisia
187108                              Turkey
188332            Turks and Caicos Islands
189535                              Uganda
190412                             Ukraine
191323                United Arab Emirates
192232                      United Kingdom
193150                       United States
194886                 Upper middle income
195753                             Uruguay
196618                          Uzbekistan
197243                             Vanuatu
198117                             Vatican
198983                           Venezuela
199900                             Vietnam
200547                   Wallis and Futuna
201466                               World
202305                               Yemen
203167                              Zambia
204027                            Zimbabwe
Name: location, dtype: object

In [171]:
df_test = df_test[(df_test['date']>'2021-03-01') & (df_test['date']<'2022-07-26')]

In [172]:
df_test=df_test.iloc[:,:3:]
df_test

              date     location  total_cases
372     2021-03-02  Afghanistan      55759.0
373     2021-03-03  Afghanistan      55770.0
374     2021-03-04  Afghanistan      55775.0
375     2021-03-05  Afghanistan      55827.0
376     2021-03-06  Afghanistan      55840.0
...            ...          ...          ...
204528  2022-07-16     Zimbabwe     256083.0
204529  2022-07-17     Zimbabwe     256083.0
204530  2022-07-18     Zimbabwe     256083.0
204531  2022-07-19     Zimbabwe     256187.0
204532  2022-07-20     Zimbabwe     256187.0

[112838 rows x 3 columns]

In [173]:
df_test.to_csv('../EDS2/DataForDoublingRate.csv',sep=';',index=False)

In [174]:
b_date=df_test['location'] =='Germany'

In [175]:
b_date=df_test[b_date]

In [176]:
time_idx=b_date['date']

In [177]:
df_plot = pd.DataFrame({
    'date':time_idx})

In [178]:
df_plot=df_plot.reset_index(drop=True) 
df_plot

           date
0    2021-03-02
1    2021-03-03
2    2021-03-04
3    2021-03-05
4    2021-03-06
..          ...
501  2022-07-16
502  2022-07-17
503  2022-07-18
504  2022-07-19
505  2022-07-20

[506 rows x 1 columns]

In [179]:
for each in country_list:
    df_plot[each] = np.array(df_test[df_test['location']==each].iloc[:,2:3:])
    print(each)
df_plot

Afghanistan
Africa
Albania
Algeria
Andorra
Angola
Anguilla
Antigua and Barbuda
Argentina
Armenia
Aruba
Asia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bonaire Sint Eustatius and Saba
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Cayman Islands
Central African Republic
Chad
Chile
China
Colombia
Comoros
Congo
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Curacao
Cyprus
Czechia
Democratic Republic of Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Europe
European Union
Faeroe Islands
Falkland Islands
Fiji
Finland
France
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
High income
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
International
Iran
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Low income
Lower middle income
Luxembourg
Macao
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia (country)
Moldova
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
North America
North Macedonia
Norway
Oceania
Oman
Pakistan
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Russia
Rwanda
Saint Helena
Saint Kitts and Nevis
Saint Lucia
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South America
South Korea
South Sudan
Spain
Sri Lanka
Sudan
Suriname
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Tanzania
Thailand
Timor
Trinidad and Tobago
Tunisia
Turkey
Turks and Caicos Islands
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Upper middle income
Uruguay
Uzbekistan
Vanuatu
Vatican
Venezuela
Vietnam
Wallis and Futuna
World
Yemen
Zambia
Zimbabwe

,date,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,World,Yemen,Zambia,Zimbabwe
0,2021-03-02,55759.0,3913621.0,108823.0,113430.0,10908.0,20882.0,18.0,769.0,2118676.0,...,79961.0,1.0,27.0,139934.0,2475.0,9.0,115180244.0,2342.0,79557.0,36148.0
1,2021-03-03,55770.0,3924485.0,109674.0,113593.0,10948.0,20923.0,18.0,769.0,2126531.0,...,80035.0,1.0,27.0,140383.0,2482.0,9.0,115622105.0,2363.0,80090.0,36179.0
2,2021-03-04,55775.0,3937063.0,110521.0,113761.0,10976.0,20981.0,18.0,813.0,2133963.0,...,80035.0,1.0,27.0,140960.0,2488.0,9.0,116081000.0,2375.0,80687.0,36223.0
3,2021-03-05,55827.0,3945600.0,111301.0,113948.0,10998.0,21026.0,18.0,813.0,2141854.0,...,80081.0,1.0,27.0,141356.0,2494.0,9.0,116530776.0,2411.0,81341.0,36248.0
4,2021-03-06,55840.0,3955555.0,112078.0,114104.0,11019.0,21055.0,18.0,813.0,2146714.0,...,80125.0,1.0,27.0,141885.0,2501.0,9.0,116945049.0,2444.0,82011.0,36260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,2022-07-16,183445.0,12169669.0,295243.0,266424.0,44671.0,101901.0,3496.0,8712.0,9426171.0,...,242140.0,11722.0,29.0,529730.0,10759850.0,456.0,561998568.0,11848.0,327994.0,256083.0
502,2022-07-17,183572.0,12171116.0,296305.0,266445.0,44671.0,101901.0,3496.0,8712.0,9465827.0,...,242140.0,11722.0,29.0,530402.0,10760595.0,456.0,562455847.0,11848.0,327994.0,256083.0
503,2022-07-18,183687.0,12176520.0,296732.0,266487.0,45061.0,102209.0,3535.0,8712.0,9465827.0,...,242305.0,11730.0,29.0,530649.0,10761435.0,456.0,563691826.0,11848.0,327994.0,256083.0
504,2022-07-19,183908.0,12208985.0,298578.0,266542.0,45061.0,102209.0,3535.0,8712.0,9465827.0,...,242366.0,11730.0,29.0,530649.0,10762532.0,533.0,565214838.0,11849.0,328550.0,256187.0
505,2022-07-20,184038.0,12211557.0,300058.0,266591.0,45061.0,102209.0,3535.0,8712.0,9465827.0,...,242437.0,11730.0,29.0,531094.0,10763694.0,533.0,566810515.0,11849.0,328550.0,256187.0

In [180]:
df_plot.to_csv('../EDS2/CompleteProcessedData.csv',sep=';',index=False)